:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(53, 55, 73);
    overflow: auto;
    flex: 1;
    padding: 15px;
    gap: 10px;
}

.choice {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    select {
        height: 30px;
        max-width: 200px;
        width: 45%;
    }
}

.custom_schedule {
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 16 / 9;
    align-items: center;
    background-color: white;
}