:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 218, 218);
    overflow: auto;
    flex: 1;

    padding: 15px;
    gap: 10px;
}

.choice {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    select {
        height: 30px;
        width: 200px;
    }
}

.table {
    height: 40vh;
    border: 1px solid gray;
    border-radius: 20px;
    align-items: center;

    background-color: white;
}