<main class="content">
    <div class="choice">
        <select [(ngModel)]="selectedFirst">
            <option [ngValue]="null" disabled selected>Odaberi godinu</option>
            <option *ngFor="let year of years" [ngValue]="year">
                {{ year }}
            </option>
        </select>
        <select *ngIf="selectedFirst !== 'BMI' && selectedFirst" [(ngModel)]="selectedSecond">
            <option [ngValue]="null" disabled selected>
                {{ secondPlaceholder }}
            </option>
            <option *ngFor="let option of smjerOptions" [value]="option">
                {{ option }}
            </option>
        </select>
    </div>
    <div class="table">
        TABELA1
    </div>
    <div class="table">
        TABELA2
    </div>
</main>
