nav {
    height: 50px;
    padding-top: 10px;
    margin: 0;
    text-align: center;
    background-color: rgb(53, 55, 73);
    h2 {
        padding: 0;
        margin: 0;
        font-size: 30px;
        color: white;
    }
}