:host {
  display: block;
  width: 100%;
}

.schedule-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.canvas-container {
  width: 100%;
  max-width: 1000px;
  background-color: #ffffff;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  canvas {
    display: block;
    cursor: pointer;
    image-rendering: -webkit-optimize-contrast;
  }
}